<aurora-headline-block 
    headline="Router">
    Der Router (aurora-router) enthält die Verlinkungen zu den einzelnen Unterseiten. 
    Diese Komponente kann in Verbindung mit anderen Komponenten genutzt werden, wie zum Beispiel der Accordion-Komponente.
    In dieser Kombination kann man ein Menu wie in diesem Showcase aufbauen.
    Zum Router gehören die Router-links (aurora-router-link), sie bilden die einzelnen Links ab.
</aurora-headline-block>     

<aurora-headline-block 
    headline="Der Router" 
    is-subheadline>
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</aurora-headline-block>     
<aurora-code-mirror 
    label="Code">   
&lt;aurora-router 
    route-outlet="#main"&gt;  
&lt;/aurora-router&gt;  
</aurora-code-mirror>

<aurora-data-table 
    columns="/dist/showcase/layout/router/router.json">
</aurora-data-table>

<aurora-headline-block 
    headline="Der Router Link" 
    is-subheadline>
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</aurora-headline-block>  
<aurora-code-mirror 
    label="Code">   
&lt;aurora-router-link
    route-start
    label="Introduction"
    page-title="Introduction" 
    content="/dist/showcase/introduction"
    to="/"&gt;  
&lt;/aurora-router-link&gt;  
</aurora-code-mirror>

<aurora-data-table 
    columns="/dist/showcase/layout/router/routerLink.json">
</aurora-data-table>
