<aurora-headline-block 
    headline="Router">
    The router (aurora-router) contains the links to the individual sub-pages. 
    This component can be used in combination with other components, such as the Accordion component. 
    In this combination, you can build a menu like the one in this showcase. 
    The router links (aurora-router-link) belong to the router, they represent the individual links. 
</aurora-headline-block>     

<!-- Router -->
<aurora-headline-block 
    headline="Router element" 
    is-subheadline>
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</aurora-headline-block>     
<aurora-code-mirror 
    label="Code">   
&lt;aurora-router 
    route-outlet="#main"&gt;  
&lt;/aurora-router&gt;  
</aurora-code-mirror>
<aurora-data-table
    rows="/dist/showcase/layout/router/router.json">
</aurora-data-table>

<!-- Router link -->
<aurora-headline-block 
    headline="Router link" 
    is-subheadline>
    The router link loads the linked page. 
    An HTML file is loaded here. This file may only contain the content to be landed, 
    no "body" or similar element.
</aurora-headline-block>  
<aurora-code-mirror 
    label="Code">   
&lt;aurora-router-link
    is-route-start
    label="Introduction"
    page-title="Introduction" 
    content="/dist/showcase/introduction"
    to="/"&gt;  
&lt;/aurora-router-link&gt;  
</aurora-code-mirror>
<aurora-data-table 
    rows="/dist/showcase/layout/router/routerLink.json">
</aurora-data-table>

<!-- Code Beispiel -->
<aurora-headline-block 
    headline="Code example" 
    is-subheadline>
    Example of a navigation like here in the showcase. A combination of router, router link and accordion.
</aurora-headline-block>  
<aurora-code-mirror 
    label="Code">
&lt;aurora-router
    route-outlet="#main"&gt; 
    &lt;aurora-accordion 
        slot="link"&gt;
        &lt;aurora-accordion-item 
            label="Get Started"&gt;   
            &lt;aurora-router-link
                is-route-start
                label="Introduction"
                page-title="Introduction" 
                content="/dist/showcase/introduction"
                to="/"&gt;  
            &lt;/aurora-router-link&gt;
            ... 
        &lt;/aurora-accordion-item&gt; 
        ...
    &lt;/aurora-accordion&gt;
&lt;/aurora-router&gt;  
</aurora-code-mirror>

