<aurora-headline-block headline="Router">
    Der Router (aurora-router) enthält die Verlinkungen zu den einzelnen Unterseiten. 
    Diese Komponente kann in Verbindung mit anderen Komponenten genutzt werden, wie zum Beispiel der Accordion-Komponente.
    In dieser Kombination kann man ein Menu wie in diesem Showcase aufbauen.
    Zum Router gehören die Router-links (aurora-router-link), sie bilden die einzelnen Links ab.
</aurora-headline-block>     

<aurora-headline-block headline="Der Router" is-subheadline>
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</aurora-headline-block>     
<aurora-code-mirror label="Code">   
&lt;aurora-router 
    route-outlet="#main"&gt;  
&lt;/aurora-router&gt;  
</aurora-code-mirror>
<table>
    <thead>
        <th>Property</th>
        <th>Type</th>
        <th>Default Value</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>route-outlet</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>  
    </tbody>
</table>

<aurora-headline-block headline="Der Router Link" is-subheadline>
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</aurora-headline-block>  
<aurora-code-mirror label="Code" language="xml">   
&lt;aurora-router-link
    route-start
    label="Introduction"
    page-title="Introduction" 
    content="/dist/showcase/introduction"
    to="/"&gt;  
&lt;/aurora-router-link&gt;  
</aurora-code-mirror>
<table>
    <thead>
        <th>Property</th>
        <th>Type</th>
        <th>Default Value</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>route-start</strong>
            </td>
            <td>Boolean</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>
        <tr>
            <td>
                <strong>label</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>
        <tr>
            <td>
                <strong>page-title</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>  
        <tr>
            <td>
                <strong>content</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>  
        <tr>
            <td>
                <strong>to</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>      
    </tbody>
</table>




