<h2 class="headline">Router</h2>
<p class="description">
    Der Router (aurora-router) enthält die Verlinkungen zu den einzelnen Unterseiten. 
    Diese Komponente kann in Verbindung mit anderen Komponenten genutzt werden, wie zum Beispiel der Accordion-Komponente.
    In dieser Kombination kann man ein Menu wie in diesem Showcase aufbauen.
    Zum Router gehören die Router-links (aurora-router-link), sie bilden die einzelnen Links ab.
</p>
<h3 class="headline-sub">Der Router</h3>  
<p class="description-sup">
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</p>      

<aurora-code-mirror label="Code">   
&lt;aurora-router 
    route-outlet="#main"&gt;     
    &lt;aurora-accordion-item 
    route-outlet="#main"&gt; 
    &lt;/aurora-accordion-item&gt;   
&lt;/aurora-router&gt;  
</aurora-code-mirror>



