<h2 class="headline">Router</h2>
<p class="description">
    Der Router (aurora-router) enthält die Verlinkungen zu den einzelnen Unterseiten. 
    Diese Komponente kann in Verbindung mit anderen Komponenten genutzt werden, wie zum Beispiel der Accordion-Komponente.
    In dieser Kombination kann man ein Menu wie in diesem Showcase aufbauen.
    Zum Router gehören die Router-links (aurora-router-link), sie bilden die einzelnen Links ab.
</p>
<h3 class="headline-sub">Der Router</h3>  
<p class="description-sup">
    Eine gesamte Card kann als interaktive Fläche angelegt werden, wenn sie sonst keine interaktiven Elemente enthält. 
    Sie erhält dann einen Hover-Effekt.
</p>      

<aurora-code-mirror label="Code">   
&lt;aurora-router 
    route-outlet="#main"&gt;  
&lt;/aurora-router&gt;  
</aurora-code-mirror>

<table>
    <thead>
        <th>Property</th>
        <th>Type</th>
        <th>Default Value</th>
        <th>Description</th>
    </thead>
    <tbody>
        <tr>
            <td>
                <strong>route-outlet</strong>
            </td>
            <td>String</td>
            <td>-</td>
            <td>Hier wird die "id" des Elements angegeben, in dem der Inhalt der seite angezeigt werden soll.</td>
        </tr>  
    </tbody>
</table>




