body {
    margin:0;
    height:100vh;
    width:100%;
    outline: none;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-areas:
      "nav content";
  }

  .logo {
    max-width: 200px;
    display: block;
    margin: 20px auto -10px auto;
  }
  .claim {
    letter-spacing: 3px;
    font-size:10px;
    text-transform: uppercase;
    color:#9c9c9c;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 40px;
    border-bottom:1px solid var(--accordion-item-border-color, var(--border-color, #c1c1c1));
  }
.nav { 
  --accordion-item-color-expanded: #484848;
  --accordion-item-border-color: #e0e6ed;
  grid-area: nav; 
  background-color: #fff;
  border-right: 1px solid #e0e6ed;
  overflow-y: auto;
}
.nav aurora-accordion-item {
  padding:0 20px 0 20px;
}

.content { 
    grid-area: content;
    overflow-y:auto;
}
.content #main {
  padding: 60px;
}
.content footer {
  padding: 0 60px 60px 60px;
}
.content #main, .content footer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  max-width: 1080px;
}

#main .headline {
  font-size: 2.375rem;
  font-weight: 300;
  color: #484848;
  margin: 20px 0 40px 0;
}
#main .headline-sub {
  color:#484848;
  font-size: 24px;
  font-weight: 300;
  line-height: 34px;
  margin-top:40px;
}
#main .description {
  font-size: 20px;
  color: #9c9c9c;
  font-weight: 300;
  line-height: 160%;
}

#main .description-sup {
  color: #9c9c9c;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}
aurora-code-mirror {
  margin-bottom: 30px;
}

table {
  box-sizing: border-box;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
table thead th {
  box-sizing: border-box;
  text-align: left;
  font-size: 80%;
  font-weight: 700;
  line-height: 1.3;
  min-height: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding: 10px 20px;
  cursor: default; 
  color: #9c9c9c;
  white-space: nowrap;
}
table thead th:first-child {
  padding: 10px 20px 10px 40px;
}
table thead th:last-child {
  padding: 10px 40px 10px 20px;
}
table tbody {
  border-width: 1px;
  border: none;
  vertical-align: top;
  overflow: auto;
  position: relative;
}
table strong {
  color: #484848;
  white-space: nowrap;
}
tbody tr {
  border-top:none;
  cursor: auto;
  position: relative;
}
tr td {
  border-left: none;
  border-right: none;
  border-top: 1px solid #e0e6ed;
  position: relative;
  font-weight: 400;
  line-height: 1.5;
  padding: 14px 20px;
  min-height: 20px;
  color: #9c9c9c;
}
tr td:first-child {
  padding: 14px 20px 14px 40px;
}
tr td:last-child {
  padding: 14px 40px 14px 20px;
}