body {
    margin:0;
    height:100vh;
    width:100%;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 15px;
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-areas:
      "nav content";
  }

  .logo {
    max-width: 200px;
    display: block;
    margin: 20px auto -10px auto;
  }
  .claim {
    letter-spacing: 3px;
    font-size:10px;
    text-transform: uppercase;
    color:#9c9c9c;
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 40px;
    border-bottom:1px solid var(--accordion-item-border-color, var(--border-color, #c1c1c1));
  }
.nav { 
  --accordion-item-color-expanded: #484848;
  --accordion-item-border-color: #e0e6ed;
  grid-area: nav; 
  background-color: #fff;
  border-right: 1px solid #e0e6ed;
  overflow-y: auto;
}
.nav nav a {
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 0 20px 10px 20px;
  line-height: 24px;
  color: #9c9c9c;
  outline: none!important;
}

.content { 
    grid-area: content;
    overflow-y:auto;
}
.content #main {
  padding: 60px;
}
.content footer {
  padding: 0 60px 60px 60px;
}
.content #main, .content footer {
  float: left;
  width: 100%;
  box-sizing: border-box;
  max-width: 1140px;
}

#main .headline {
  font-size: 2.3rem;
  font-weight: 300;
  color: #484848;
  margin: 20px 0 80px 0;
}
#main .headline-sub {
  color:#484848;
  font-size: 20px;
  font-weight: 400;
  line-height: 34px;
}